[Unit]
Description=devicego agent service
After=display-manager.service network.target syslog.target

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=XAUTHORITY=""
ExecStart=@SYSTEM_SERVICE_RUN@
Restart=on-failure

[Install]
WantedBy=default.target

